
<footer id="footer" class="d-flex-column text-center">
  
    <div class="container-fluid text-left text-md-center pt-5" style="background-color: #ebebeb;">
      <div class="row">
        <!--First column-->
        <div class="col-md-3 mx-auto shfooter">
          <h5 class="my-2 font-weight-bold d-none d-md-block">why us</h5>
          <div class="d-md-none title" data-target="#Product" data-toggle="collapse">
            <div class="mt-3 font-weight-bold">Company
              <div class="float-right navbar-toggler">
                <i class="fas fa-angle-down"></i>
                <i class="fas fa-angle-up"></i>
              </div>
            </div>
          </div>
          <ul class="list-unstyled collapse" id="Product">
            <li><a href="#"></a>About</li>
            <li><a href="#">Book Now</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Terms & Condition</a></li>
          </ul>
        </div>
        <!--/.First column-->
        <hr class="clearfix w-100 d-md-none mb-0">
        <!--Second column-->
        <div class="col-md-3 mx-auto shfooter" style="border-right:1px solid rgba(0,0,0,.1);">
          <h5 class="my-2 font-weight-bold d-none d-md-block">Help</h5>
          <div class="d-md-none title" data-target="#Company" data-toggle="collapse">
            <div class="mt-3 font-weight-bold">Help
              <div class="float-right navbar-toggler">
                <i class="fas fa-angle-down"></i>
                <i class="fas fa-angle-up"></i>
              </div>
            </div>
          </div>
          <ul class="list-unstyled collapse" id="Company">
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Policy</a></li>
          </ul>
        </div>
        <!--/.Second column-->
        <hr class="clearfix w-100 d-md-none mb-0">
        <!--Third column-->
        <div class="col-md-3 mx-auto shfooter">
          <h5 class="my-2 font-weight-bold d-none d-md-block">Follow Us On</h5>
          <div class="d-md-none title" data-target="#Resources" data-toggle="collapse">
            <div class="mt-3 font-weight-bold">Follow us On 
              <div class="float-right navbar-toggler">
                <i class="fas fa-angle-down"></i>
                <i class="fas fa-angle-up"></i>
              </div>
            </div>
          </div>
          <ul class="list-unstyled collapse" id="Resources">
            <li><a href="#">Facebook</a>
              <li><a href="#">Twitter</a></li>
            <li><a href="#">Linkedin</a></li>
          </ul>
        </div>
        <!--/.Third column-->
        <hr class="clearfix w-100 d-md-none mb-0">
        <!--Fourth column-->
        <div class="col-md-3 mx-auto shfooter mt-5">
          
          
          <ul class="list-unstyled collapse" id="Get-Help">
            <li><a href="#">Google Plus</a></li>
            <li><a href="#">Youtube</a></li>
          </ul>
        </div>
        <!--/.Fourth column-->
      </div>
    
    <!--/.Footer Links-->
    <hr class="mb-0">
    <!--Copyright-->
    <div class="py-3 text-center">
        © Copyright 
      <script>
        document.write(new Date().getFullYear())
      </script> <a href="#">mtp</a> . All rights reserved.
    </div>
    <!--/.Copyright-->
</div>
  </footer>
  